{% extends 'layouts/layout.html.twig' %}

{% block content %}


    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Profil</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Pocetna">Šalter</a></li>
                    <li class="breadcrumb-item">Pacijenti</li>
                    <li class="breadcrumb-item active">Profile</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section profile">
            <div class="row">
                <div class="col-xl-4">

                    <div class="card">
                        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                            <img src="{{ asset('static/assets/img/profile-img.jpg') }}" alt="Profile" class="rounded-circle">
                            <h2>{{ patient.Firstname }} {{ patient.Lastname }}</h2>
                            <h3>Web Designer</h3>
                            <div class="social-links mt-2">
                                <a href="https://github.com/kg303" class="twitter"><i class="bi bi-twitter"></i></a>
                                <a href="https://github.com/kg303" class="facebook"><i class="bi bi-facebook"></i></a>
                                <a href="https://github.com/kg303" class="instagram"><i class="bi bi-instagram"></i></a>
                                <a href="https://github.com/kg303" class="linkedin"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-xl-8">

                    <div class="card">
                        <div class="card-body pt-3">
                            <!-- Bordered Tabs -->
                            <ul class="nav nav-tabs nav-tabs-bordered">

                                <li class="nav-item">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                                </li>

                            </ul>

                            <div class="tab-content pt-2">

                                <!-- Profile Edit Form -->
                                <form id="profileEditForm" action="/submit-patient-form" method="post">
                                    <div class="row mb-3">
                                        <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Slika</label>
                                        <div class="col-md-8 col-lg-9">
                                            <img src="{{ asset('static/assets/img/profile-img.jpg') }}" alt="Profile">
                                            <div class="pt-2">
                                                <a href="#" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-upload"></i></a>
                                                <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="firstname" class="col-md-4 col-lg-3 col-form-label">Ime:</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="firstname" type="text" class="form-control" id="firstname" value="{{ patient.Firstname }}">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="lastname" class="col-md-4 col-lg-3 col-form-label">Prezime:</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="lastname" type="text" class="form-control" id="lastname" value="{{ patient.Lastname }}">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="about" class="col-md-4 col-lg-3 col-form-label">Dijagnoza:</label>
                                        <div class="col-md-8 col-lg-9">
                                            <textarea name="description" class="form-control" id="about" style="height: 100px">{{ patient.Description }}</textarea>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="company" class="col-md-4 col-lg-3 col-form-label">Kompanija:</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="company" type="text" class="form-control" id="company" value="Lueilwitz, Wisoky and Leuschke">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Job" class="col-md-4 col-lg-3 col-form-label">Posao:</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="job" type="text" class="form-control" id="Job" value="Web Designer">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="city" class="col-md-4 col-lg-3 col-form-label">Grad:</label>
                                        <div class="col-md-8 col-lg-9">
                                            <select class="form-select" id="selectCity" name="city" value="{{ patient.City }}">
                                                <option value="Grahovo">Grahovo</option>
                                                <option value="Drvar">Drvar</option>
                                                <option value="Derventa">Derventa</option>
                                                <option value="Prijedor">Prijedor</option>
                                                <option value="Borca">Borca</option>
                                                <option value="Banja Luka">Banja Luka</option>
                                                <option value="Gradiska">Gradiska</option>
                                                <option value="Prnjavor">Prnjavor</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Phone" class="col-md-4 col-lg-3 col-form-label">JMBG:</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input type="text" class="form-control" id="Phone" name="jmbg" value="{{ patient.Jmbg }}">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Address" class="col-md-4 col-lg-3 col-form-label">Adresa:</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="address" type="text" class="form-control" id="Address" value="A108 Adam Street, New York, NY 535022">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Telefon:</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="phone" type="text" class="form-control" id="Phone" value="(436) 486-3538 x29071">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email:</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="email" type="email" class="form-control" id="Email" value="k.anderson@example.com">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="status" class="col-md-4 col-lg-3 col-form-label">Status:</label>
                                        <div class="col-md-8 col-lg-9">
                                            <select class="form-select" id="Status" name="status">
                                                <option value="Umro" {{ patient.Pregled == 'Umro' ? 'selected' : '' }}>Umro</option>
                                                <option value="Pregledan" {{ patient.Pregled == 'Pregledan' ? 'selected' : '' }}>Pregledan</option>
                                                <option value="Ne pregledan" {{ patient.Pregled == 'Ne pregledan' ? 'selected' : '' }}>Ne pregledan</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                    </div>
                                </form><!-- End Profile Edit Form -->

                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



    </main><!-- End #main -->

{% endblock %}