{% extends 'layouts/layout.html.twig' %}
{% block content %}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>{{ pimcore_input('tablename') }}</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Pocetna">Šalter</a></li>
                <li class="breadcrumb-item">Tables</li>
                <li class="breadcrumb-item active">Data</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ pimcore_input('tabletitle') }}</h5>
                        <p>{{ pimcore_textarea('why') }}.</p>

                        <!-- Table with stripped rows -->
                        <table class="table datatable">
                            <thead>
                            <tr>
                                <th>
                                    <b>Ime</b>
                                </th>
                                <th>Prezime</th>
                                <th>Korisnicko ime</th>
                                <th>Sifra</th>
                                <th>Edit/Remove</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for doctor in doctors %}
                                <tr>
                                    <td>{{ doctor.getFirstname() }}</td>
                                    <td>{{ doctor.getLastname() }}</td>
                                    <td>{{ doctor.getUsername() }}</td>
                                    <td>{{ doctor.getPassword() }}</td>
                                    <td>
                                        <a href="{{ path('doctor_class_edit', {'id': doctor.id}) }}" class="btn btn-primary">Edit</a>
                                        <a href="{{ path('doctor_remove', {'id': doctor.id}) }}" class="btn btn-danger" onclick="return confirm('Are you sure you want to remove this patient?')">Remove</a>
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->

{% endblock %}