{% extends 'layouts/layout.html.twig' %}
{% block content %}



    <main id="main" class="main">

        <div class="pagetitle">
            <h1>{{ pimcore_input('tablename') }}</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Pocetna">Šalter</a></li>
                    <li class="breadcrumb-item">Tables</li>
                    <li class="breadcrumb-item active">Data</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-12">

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ pimcore_input('tabletitle') }}</h5>
                            <p>{{ pimcore_textarea('maj') }}</p>

                            <!-- Table with stripped rows -->
                            <table class="table datatable">
                                <thead>
                                <tr>
                                    <th>
                                        <b>Ime</b>
                                    </th>
                                    <th>Prezime</th>
                                    <th>Grad</th>
                                    <th>Status</th>
                                    <th>Edituj/Izbrisi</th>
                                </tr>
                                </thead>
                                <tbody>

                                    {% for pacijent in patients %}
                                        <tr>
                                            <td>{{ pacijent.getFirstname() }}</td>
                                            <td>{{ pacijent.getLastname() }}</td>
                                            <td>{{ pacijent.getCity() }}</td>

                                                {% if pacijent.getPregled() == 'Pregledan' %}
                                                    <td><span class="badge bg-success">{{ pacijent.getPregled() }}</span></td>
                                                {% elseif pacijent.getPregled() == 'Ne pregledan' %}
                                                    <td><span class="badge bg-warning">{{ pacijent.getPregled() }}</span></td>
                                                {% else %}
                                                    <td><span class="badge bg-danger">{{ pacijent.getPregled() }}</span></td>
                                                {% endif %}

                                            <td>
                                                <a href="{{ path('patient_class_edit', {'id': pacijent.id}) }}" class="btn btn-primary">Edit</a>
                                                <a href="{{ path('patient_remove', {'id': pacijent.id}) }}" class="btn btn-danger" onclick="return confirm('Are you sure you want to remove this patient?')">Remove</a>
                                            </td>

                                        </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                            <!-- End Table with stripped rows -->

                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="section">
            <div class="row">
                <div class="col-lg-12">

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ pimcore_input('tabletitletwo') }}</h5>
                            <p>{{ pimcore_textarea('majdva') }}</p>

                            <!-- Table with stripped rows -->
                            <table class="table datatable">
                                <thead>
                                <tr>
                                    <th>
                                        <b>Pacijent</b>
                                    </th>
                                    <th>Doktor</th>
                                    <th>Datum</th>
                                    <th>Status</th>
                                    <th>Edit</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for examinedPatient in examinedPatients %}
                                    <tr>
                                        <td>{{ examinedPatient.getFirstname() }} {{ examinedPatient.getLastname() }}</td>
                                        <td>{{ examinedPatient.getDoktor() }}</td>
                                        <td>{{ examinedPatient.getExaminationDate()|date('d.m.Y H:i') }}</td>

                                            {% if examinedPatient.getPregled() == 'Pregledan' %}
                                                <td><span class="badge bg-success">{{ examinedPatient.getPregled() }}</span></td>
                                            {% elseif examinedPatient.getPregled() == 'Ne pregledan' %}
                                                <td><span class="badge bg-warning">{{ examinedPatient.getPregled() }}</span></td>
                                            {% else %}
                                                <td><span class="badge bg-danger">{{ examinedPatient.getPregled() }}</span></td>
                                            {% endif %}

                                        <td>
                                            <a href="{{ path('examination_edit', {'id': examinedPatient.id}) }}" class="btn btn-primary">Edit</a>
                                            <a href="{{ path('examination_remove', {'id': examinedPatient.id}) }}" class="btn btn-danger" onclick="return confirm('Are you sure you want to remove this patient?')">Remove</a>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                            <!-- End Table with stripped rows -->

                        </div>
                    </div>

                </div>
            </div>
        </section>

    </main><!-- End #main -->

{% endblock %}