<!-- ======= Sidebar ======= -->
{% set navStartNode = document.getProperty('navigation_root') %}

    {% if not navStartNode is instanceof('\\Pimcore\\Model\\Document\\Page') %}
        {% if pimcore_site_is_request() %}
            {% set site = pimcore_site_current() %}
            {% set navStartNode = site.getRootDocument() %}
        {% else %}
            {% set navStartNode = pimcore_document(1) %}
        {% endif %}

    {% endif %}

    {% set mainNavigation = pimcore_build_nav({active: document, root: navStartNode}) %}

    {% set menuRenderer = pimcore_nav_renderer('menu') %}

        <aside id="sidebar" class="sidebar">

            <ul class="sidebar-nav" id="sidebar-nav">

                <li class="nav-item">
                    <a class="nav-link {{ document.id == navStartNode.id ? 'active' : '' }}"
                       href="/Pocetna">
                        <i class="bi bi-grid"></i>
                        <span>Šalter</span>
                    </a>
                </li><!-- End Dashboard Nav -->

                {% for page in mainNavigation %}
                    {% if page.isVisible() and menuRenderer.accept(page) %}
                        {% set hasChildren = page.hasPages() %}
{#{% if app.user.roles %}#}
{#    {{ dump(app.user.roles ) }}#}
{#                    {% endif %}#}
                        {% if not hasChildren %}
                            {% if not (page.getHref() == '/Doktori' and is_granted('ROLE_USER') and not is_granted('ROLE_ADMIN')) %}
                                <li class="nav-item">
                                    <a class="nav-link {{ document.id == page.id ? 'active' : '' }}"
                                       href="{{ page.getHref() }}">{{ page.getLabel()|trans }}</a>
                                </li>
                            {% endif %}

                        {% else %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle {{ document.id == page.id ? 'active' : '' }}"
                                   href="{{ page.getHref() }}" aria-expanded="false"
                                   id = "navbarDropdown_{{ page.id }}" role="button"
                                   data-bs-toggle="dropdown" aria-haspopup="true">
                                    {{ page.getLabel()|trans }}
                                </a>

                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown_{{ page.id }}">
                                    {% for child in page.getPages() %}
                                        {% if child.isVisible() and menuRenderer.accept(child) %}
                                            <li><a class="dropdown-item" href="{{ child.getHref() }}">{{ child.getLabel()|trans }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>

                        {% endif %}
                    {% endif %}
                {% endfor %}


            </ul>

        </aside><!-- End Sidebar-->